:root {
  --border: 1px;
  --padding: 10px;
  --background-color: #646cff;
}

.boxes {
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
.box {
  width: 100px;
  height: 100px;
  border: var(--border) solid black;
  padding: var(--padding);
  background-color: var(--background-color);
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

body {
  border: 5px solid var(--background-color);
  padding: 1rem;
  border-radius: 1rem;
}
