.inner {
  margin: 100px;
  height: 100px;
  width: 100px;
  border: solid 1px red;
  
 
  
}
.outer:active
{
  cursor: grabbing;
}

.outer {
  width: 50vw;
  height: 100vh;
  overflow: scroll;
  cursor:grab;
  border:red solid 5px
}

body {
  overflow: hidden;
}
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100px; /* Each inner div has some height */
  background-color: lightblue;
  margin: 5px;
} */
